main {
  width: 1400px;
  margin: auto;
  text-align: center;
}
#admin-div {
  border-bottom: solid 1px rgba(0,0,0,0.2);
  margin: auto;
  height: 60px;
  width: 1200px;
}
main button {
  background-color: white;
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding: 5px 15px;
}
.menu-div {
  background-color: white;
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin: auto auto 250px auto;
  padding: 30px;
  width: 1200px;
}
h3 {
  font-family: "Satisfy";
  font-size: 50px;
  margin: 20px auto;
}
h5, label, p {
  font-family: "Comic Neue";
  padding: 5px;
}
.inline {
  display: inline;
}
.menu-item-description h5 {
  margin-right: 100px;
}
.menu-item-description {
  text-align: left;
}
.menu-item, #post-create-div, #update-div {
  background-color: white;
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: auto;
  width: 800px;
}
.delete-item {
  margin-top: 10px;
}
#get-div {
  display: none;
}
#post-create-div, #update-div {
  display: none;
  margin-top: 30px;
}
#post-create-div button, #update-div button {
  margin-top: 10px;
}
label, input {
  display: block;
  font-size: 22px;
  margin: auto;
  text-align: left;
  width: 600px;
}
input {
  background-color: white;
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

@media screen and (max-width: 1400px) {
  main {
    width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  main {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  main {
    width: 768px;
  }
  main p {
    width: 650px;
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 575px;
  }
  main p {
    width: 550px;
  }
}

@media screen and (max-width: 575px) {
  main {
    width: 530px;
  }
  main p {
    width: 450px;
  }
}