/* CSS Reset */
* {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* Bootstrap */
.selector-for-some-widget {
  box-sizing: content-box;
}

/*******************/
/*  Header Styles  */
/*******************/
.icon-container {
  margin-top: 10px;
  text-align: center;
}
.icon-div {
  display: inline;
}
.icon-img {
  display: inline;
  height: 20px;
}
.icon-text {
  display: inline;
  font-family: "Comic Neue";
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 15px;
}
.nav-img {
  height: 60px;
}
.link-btn {
  color: #292727;
  position: relative;
  padding: 9px 15px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  margin: 0 10px;
}
.nav-btn.link-btn {
  color: #292727;
}
.nav-btn.link-btn.link-btn::after, 
.nav-btn.link-btn.link-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid;
  transition: all 0.8s ease;
}
.nav-btn.link-btn.link-btn::after {
  bottom: 5px;
  right: 5px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #292727;
  border-right-color: #292727;
}
.nav-btn.link-btn.link-btn::before {
  top: 5px;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #292727;
  border-left-color: #292727;
}
.nav-btn.link-btn.link-btn:hover:after, 
.nav-btn.link-btn.link-btn:hover:before {
  width: 100%;
  height: 100%;
}
.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.admin-link {
  display: none;
}
#log-out-btn {
  display: none;
}
/*******************/
/*  Login Form     */
/*******************/
main {
  margin: auto;
  width: 1400px;
}
#login-form {
  display: none;
  background-color: white;
  border: solid 2px rgba(0,0,0,0.2);
  border-radius: 15px;
  height: 350px;
  width: 500px;
  margin-left: 30%;
  text-align: center;
  position: absolute;
  top: 330px;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#login-form h3{
  font-family: "Comic Neue";
  margin: 20px auto;
}
#login-form label, #login-form input {
  font-family: "Comic Neue";
  font-size: 20px;
  display: block;
  margin: 10px auto;
}
#login-form input {
  background-color: white;
  border: solid 2px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
#submit-btn {
  font-family: "Comic Neue";
  font-size: 18px;
  background-color: white;
  border: solid 2px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  margin-top: 20px;
  padding: 5px 25px;
}

/*******************/
/*  Footer Styles  */
/*******************/
footer {
  background-color: #3d3d3d;
  height: 100px;
  padding-top: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
}
small {
  color: rgb(236, 232, 227);
  display: block;
  font-family: "Comic Neue";
  font-size: 15px;
  letter-spacing: 3px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .icon-div {
    display: block;
  }
	#login-form {
    top: 450px;
  }
}

@media screen and (max-width: 576px) {
	body {
		background-color: rgb(55, 44, 116);
	}
}

@media screen and (max-width: 575px) {
	body {
		background-color: aqua;
	}
}